<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="automatic" value="True" />
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Experian.Internal" value="https://edq-repo.pkgs.visualstudio.com/DefaultCollection/_packaging/Experian.Internal/nuget/v3/index.json" />
    <add key="Experian.PreRelease" value="https://edq-repo.pkgs.visualstudio.com/DefaultCollection/_packaging/Experian.PreRelease/nuget/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
</configuration>